@use 'normalize.css/normalize.css';
@use "@fontsource-variable/raleway/wght.css";
@use "@fontsource-variable/raleway/wght-italic.css";

/* https://coolors.co/333333-666a86-faf4d3-42f2f7-46acc2 */
:root {
    --color1: #333333;
    --color2: #666a86;
    --color3: rgba(250, 244, 211, 1);
    --color4: rgba(66, 242, 247, 1);
    --color5: #edafb8;
}

@media (prefers-color-scheme: dark) {
    /* https://coolors.co/0c1618-004643-faf4d3-d1ac00-f6be9a */
    :root {
        --color1: rgba(12, 22, 24, 1);
        --color2: rgba(0, 70, 67, 1);
        --color3: rgba(250, 244, 211, 1);
        --color4: rgba(209, 172, 0, 1);
        --color5: rgba(246, 190, 154, 1);
    }
}

html {
    background: var(--color1);
    font-family: "Raleway Variable", sans-serif;
    color: var(--color3);
}

h1, h2, h3 {
    font-weight: 900;
}

h1 {
    background-color: var(--color2);
    color: var(--color1);
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0.5rem 0.5rem 0.05rem rgba(0, 0, 0, 0.25);

    span {
        background-color: var(--color1);
        color: #0003;
        text-shadow: 0.1rem 0.1rem 0.2rem rgba(196, 196, 196, 0.14);
        background-clip: text;
    }
}

div.pinouts {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: stretch;

    .pinout {
        background: var(--color2) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
        display: flex;
        flex-flow: column;
        width: 512px;
        margin: 0 0 2em;
        padding: 1em;
        box-shadow: 0.5rem 0.5rem 0.05rem rgba(0, 0, 0, 0.25);

        h2 {
            text-align: center;
            font-size: 2em;
            margin: 0 0 1rem 0;
            padding: 0.3rem 0;
            text-transform: uppercase;
            background: var(--color3);
            color: var(--color2);
            border-radius: 0.5rem;
            box-shadow: 0.5rem 0.5rem 0.05rem rgba(0, 0, 0, 0.25);
        }

        .plugs {
            display: flex;
            flex-flow: row;

            figure {
                margin: 0 0 1em;

                svg {
                    width: 100%;
                }

                figcaption {
                    font-weight: 900;
                    text-align: center;
                    color: var(--color5);
                    text-transform: uppercase;
                }
            }
        }

        table {
            text-align: center;
            table-layout: fixed;
            width: 100%;
            font-size: 1.1em;

            col.pin-num { width: 15%; }
            col.pin-dest-1 { width: 90%; }
            col.pin-dest-2 { width: 45%; }

            th, td {
                padding: 0.4rem;
            }

            thead th {
                color: var(--color1);
                background-color: var(--color3);
                font-weight: 900;
            }

            tbody th, tbody td {
                border-bottom: 1px rgba(250, 244, 211, 0.1) dashed;
            }

            tr.optional th, tr.optional td {
                background: rgba(0,0,0,0.1);
            }
        }
    }
}

footer {
    font-size: 0.7em;
    color: var(--color2);
    text-align: center;
    font-style: italic;
    margin: 1.5em;

    a {
        color: var(--color3);
    }
}

@media (min-width: 513px) {
    h1 {
        font-size: 4em;
    }

    .pinout {
        border-radius: 0.5em;
        margin-bottom: 3em;
    }

    table col.pin-num {
        width: 10%;
    }
}

@media (min-width: 1280px) {
    h1 {
        margin-bottom: 1em;
    }
}